.wrapper {
  width: 400px;
  height: 200px;
  padding: 0px 10px 10px 0;
  position:relative;
}

h2 {
    text-align: center;
}

form input {
    display: block;
    width:100%;
    margin: 10px 0;
    font-size: 1rem;
}

button {
    display:block;
    margin: 20px auto 10px auto;
    width: 60%;
    height: 30px;

}
