.wrapper {
  width: 400px;
  height: 100%;
  padding: 10px;
  position:relative;
}

h3 {
    text-align: center;
}

.input {
    display: block;
    width:100%;
    margin: 0 0 10px 0;
    font-size: 1rem;
}

#send-button {
  display: block;
  margin: 0 auto;
}
