body, html{
  height: auto;
}

.wrapper {
  width: 400px;
  height: 100%;
  padding: 10px;
  position:relative;
  display:none;
}

#login-reg-form {
  display:inherit;
  position: relative;
  width: 800px;
  padding: 20px;
}

h3 {
    text-align: center;
}

.input {
    display: block;
    width:100%;
    margin: 0 0 10px 0;
    font-size: 1rem;
}

#send-button {
  display: block;
  margin: 0 auto;
}
